<!-- Main Toolbar of an App -->
<mat-toolbar color="accent">
  <span>Plan My Travel</span>
  <span class="demo-toolbar"></span>
  <button mat-button class="register" >Register</button>

</mat-toolbar>

<mat-card>
  <!-- Title of an Card -->
  <mat-card-title>
      Registration Form
  </mat-card-title>

  <mat-card-content>
      <form [formGroup]="regiForm" (ngSubmit)="onFormSubmit(regiForm.value)" >
          <table>
              <tr>
                  <td>
                      <mat-form-field class="demo-full-width">
                          <input formControlName="FirstName" matInput placeholder="First Name">
                      </mat-form-field>
                      <mat-error>
                        <span *ngIf="!regiForm.get('FirstName').valid && regiForm.get('FirstName').touched">Please enter First Name !!!</span>
                    </mat-error>
                  </td>
                  <td>
                      <mat-form-field class="demo-full-width">
                          <input formControlName="LastName" matInput placeholder="Last Name">
                      </mat-form-field>
                      <mat-error>
                        <span *ngIf="!regiForm.get('LastName').valid && regiForm.get('LastName').touched">Please enter Last Name !!!</span>
                    </mat-error>
                  </td>
              </tr>
              <tr>
                <td colspan="2">
                    <mat-form-field class="demo-full-width">
                        <input formControlName="DOB" matInput [matDatepicker]="picker" placeholder="Date of birth">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker touchUi="true" #picker></mat-datepicker>
                    </mat-form-field>
                    <mat-error>
                      <span *ngIf="!regiForm.get('DOB').valid && regiForm.get('DOB').touched">Please select any Date !!!</span>
                  </mat-error>
                </td>
            </tr>
            <tr>
              <td>
                  <span>Gender</span><br><br>
                  <mat-radio-group formControlName="Gender">
                      <mat-radio-button value="1">Male</mat-radio-button>
                      <mat-radio-button value="2">Female</mat-radio-button>
                  </mat-radio-group>
                  <mat-error>
                    <span *ngIf="!regiForm.get('Gender').valid && regiForm.get('Gender').touched">Please select any gender !!!</span>
                </mat-error>
              </td>
            </tr>
              <tr>
                  <td colspan="2">
                      <mat-form-field class="demo-full-width">
                          <textarea formControlName="Address" matInput placeholder="Address" matTextareaAutosize matAutosizeMinRows="5" matAutosizeMaxRows="5"></textarea>
                      </mat-form-field>
                      <mat-error>
                        <span *ngIf="!regiForm.get('Address').valid && regiForm.get('Address').touched">Please enter proper address !!!</span>
                    </mat-error>
                  </td>
              </tr>


                  <!-- <td><br>
                      <mat-form-field>
                          <mat-select placeholder="Select Blog" [(value)]="selected">
                              <mat-option>-- Select Any --</mat-option>
                              <mat-option value="1">C#Corner</mat-option>
                              <mat-option value="2">C#Corner</mat-option>
                              <mat-option value="3">C#Corner</mat-option>
                          </mat-select>
                      </mat-form-field>
                  </td> -->

              <tr>
                  <td colspan="2">
                      <mat-form-field class="demo-full-width">
                          <input formControlName="Email" matInput placeholder="Email">
                          <mat-hint>use like : demo@demo.com</mat-hint>
                            <mat-error>
                                <span *ngIf="!regiForm.get('Email').valid && regiForm.get('Email').touched">Enter proper Email !!!</span>
                            </mat-error>
                      </mat-form-field>
                  </td>
              </tr>
              <tr>
                  <td colspan="2">
                    <mat-form-field class="demo-full-width-mobile">
                      <input matInput placeholder="Mobile Number">
                    </mat-form-field>
                  </td>
                  <td colspan="2" class="content-center">
                      <button mat-raised-button color="accent">Send OTP</button>
                  </td>
              </tr>
              <tr>
                <td colspan="2">
                  <mat-form-field class="demo-full-width-mobile">
                    <input matInput placeholder="Enter OTP">
                  </mat-form-field>

                </td>
                <td colspan="2" class="content-center">
                    <button mat-raised-button color="accent">Verify OTP</button>
                </td>
            </tr>
            <tr>
              <td>
                <mat-form-field class="demo-full-width-mobile">
                  <input matInput placeholder="Alternative Number">
                </mat-form-field>
              </td>
              <td>
                <mat-form-field class="demo-full-width-mobile">
                  <input matInput placeholder="Alternative Email">
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field class="demo-full-width-mobile">
                  <input matInput placeholder="Password" type="password">

                </mat-form-field>
                <!-- <mat-form-field>
                  <input id="mysecretpassword" type="password" placeholder="Password" matInput showHideInput>
                  <i matSuffix
                    class="material-icons"
                    showHideTrigger="mysecretpassword"
                    [showHideStatus]="{ materialIcon: true, id: 'mysecretpassword' }"
                  ></i>
                </mat-form-field> -->
              </td>
              <td>
                <mat-form-field class="demo-full-width-mobile">
                  <input matInput placeholder="Confirm Password" type="password">
                </mat-form-field>
              </td>
            </tr>
              <tr>
                  <td colspan="2" class="content-center">
                      <button mat-raised-button color="accent" >Reset</button>
                      <button mat-raised-button color="accent" [disabled]="!regiForm.valid || IsAccepted==0">Submit</button>
                  </td>

              </tr>
          </table>
      </form>
  </mat-card-content>
</mat-card>